{% extends "cropper/base.html" %}
{% load i18n %}

{% block cropper_content %}
    <table>
    <tbody>
        <tr>
            <td><img width="{{ original.image_width }}" height="{{ original.image_height }}" src="{{ original.image.url }}" id="cropbox" alt="" /></td>
            <td><div style="width: 100px; height: 100px; overflow: hidden;"><img src="{{ original.image.url }}" id="previewCrop" alt="" /></div></td>
        </tr>
    </tbody>
    </table>
    <div>
        <form method="post" id="crop-form" action="{{ original.get_absolute_url }}">
        {% csrf_token %}
        {{ form }}
        <input class="submitButton colorWhite fontTitillium1 fontSize13 pull-right bottomHalfGutter topHalfGutter" type="submit" value="{% trans "Crop" %}" />
        <button class="submitButton colorWhite fontTitillium1 fontSize13 pull-right bottomHalfGutter topHalfGutter" onclick="parent.$.fancybox.close();parent.$('#refreshActivity').click();return false;">Use Original</button>
        </form>
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}cropper/js/cropper.js">&nbsp;</script>
{% endblock %}
